
#include "../Common/Configurations/UnitTests.xcconfig"
#include "../Common/Configurations/Libraries.xcconfig"

PRODUCT_NAME            = GraphViewUnitTests
BASE_PRODUCT_NAME       = $(PRODUCT_NAME)
BUILD_BUNDLE_VERSION    = 1.0

OTHER_LDFLAGS           = $(COMMON_LDFLAGS) $(UIKIT_FX) $(COREGRAPHICS_FX) $(QUARTZCORE_FX)

TARGETED_DEVICE_FAMILY = 2
