
#include "../Common/Configurations/Libraries.xcconfig"

PRODUCT_NAME            = $(TARGET_NAME)
BASE_PRODUCT_NAME       = $(TARGET_NAME)

HEADERS_FOLDER_PATH           = /../iPad/
PRIVATE_HEADERS_FOLDER_PATH   = $(HEADERS_FOLDER_PATH)$(BASE_PRODUCT_NAME)/private
PUBLIC_HEADERS_FOLDER_PATH    = $(HEADERS_FOLDER_PATH)$(BASE_PRODUCT_NAME)

GCC_PRECOMPILE_PREFIX_HEADER  = YES
GCC_PREFIX_HEADER             = $(SRCROOT)/Headers/$(BASE_PRODUCT_NAME)_Prefix.pch

ALWAYS_SEARCH_USER_PATHS = NO

INFOPLIST_FILE = Resources/App-Info.plist

COMMON_LDFLAGS        = $(OBJC_LIBRARY) $(UIKIT_FX) $(COREGRAPHICS_FX) $(FOUNDATION_FX)
SELFLIB_LDFLAGS       = -lgraph2d
OTHER_LDFLAGS         = $(COMMON_LDFLAGS) $(SELFLIB_LDFLAGS) -all_load
