
#include "Paths.xcconfig"

GCC_PRECOMPILE_PREFIX_HEADER  = NO
RUN_CLANG_STATIC_ANALYZER     = YES

INFOPLIST_FILE          = $(SRCROOT)/UnitTests/Resources/UnitTests-Info.plist

WRAPPER_EXTENSION       = octest
FRAMEWORK_SEARCH_PATHS  = $(SDKROOT)$(DEVELOPER_FRAMEWORKS_DIR)

CURRENT_PROJECT_VERSION = $(BUILD_BUNDLE_VERSION)


FRAMEWORK_SEARCH_PATHS = "$(SDKROOT)/Developer/Library/Frameworks"
IPHONEOS_DEPLOYMENT_TARGET = 3.2
SDKROOT = iphoneos
// Required for older iOS devices (iPhone 3G)
ARCHS = $(ARCHS_STANDARD_32_BIT)

// Linker Flags

COMMON_LDFLAGS        = $(OBJC_LIBRARY) $(UIKIT_FX) $(COREGRAPHICS_FX) $(FOUNDATION_FX) $(SENTESTINGKIT_FX)

OTHER_LDFLAGS         = $(COMMON_LDFLAGS)
